
#canvas {
    
    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.row{
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    height: 100%;
    width: 100%;
    
}

.cell {
    box-sizing: border-box;
    border: 1px black solid;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
}